<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Presented by LIZH 🎶." />
        <!-- 載入外部插件 start -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- 載入外部插件 end -->
        <title>Braslab_ZS-TTS_Demo</title>

        <style>
            body {
                padding-top: 60px;
            }

            @media (min-width: 992px) {
                body {
                    padding-top: 60px;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10"><img class="rounded mx-auto d-block" src="{{url_for('static', filename='Braslab2.png')}}" align="middle" style="width: 65%;" /></div>
            </div>

            <br />
            <br />

            <div class="row justify-content-center">
                <div class="col-1">
                    <img class="rounded mx-auto d-block" src="{{url_for('static', filename='catbug.gif')}}" align="middle" style="width: 75%;" />
                </div>
                <div class="col-md-auto">
                    <p class="h1 text-center fw-bold">👾 ZS-TTS 👾</p>
                </div>
                <div class="col-1">
                    <img class="rounded mx-auto d-block" src="{{url_for('static', filename='catbug.gif')}}" align="middle" style="width: 75%;" />
                </div>
            </div>

            <br />

            <form name="TTS_form" id="TTS_form" action="/TTS" method="post" enctype="multipart/form-data">
                <div>
                    <label for="formFileLg" class="form-label">CLONE FROM</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="TTS_clone_file" name="TTS_clone_file" />
                        <button class="btn btn-primary fs-4 fw-bold" id="TTS-button" name="TTS-button" type="submit">TTS</button>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">TEXT</label>
                    <input type="text" class="form-control" id="TTS_text" name="TTS_test" />
                </div>
            </form>

            <br />
            <br />

            <table class="table table-hover" id="demo_tb" name="demo_tb">
                <tbody></tbody>
            </table>
        </div>

        <script>
            // 取得表單
            let productForm = document.forms.namedItem("TTS_form");
            productForm.addEventListener("submit", function (event) {
                api_post_form(event, productForm);
            });

            function api_post_form(event, form) {
                // 取消表單預設提交
                event.preventDefault();

                let file = $("#TTS_clone_file")[0].files[0]; // 單個檔案
                let sentence = document.querySelector("#TTS_text").value;

                // 建立一個新的 FormData 物件
                let formData = new FormData(form);

                // 追加新值到 FormData 物件已有的對應鍵上；若該鍵不存在，則為其追加新的鍵

                formData.append("sentence", sentence);
                formData.append("clone_file", file);

                let item = {
                    url: `/TTS`,
                    type: "POST",
                    headers: {
                        // 'Content-Type': 'multipart/form-data',
                        // 使用 multipart/form-data 在此不需要設定 Content-Type。
                        "X-Requested-With": "XMLHttpRequest",
                        Authorization: `Bearer tts`,
                    },
                    contentType: false, //required
                    processData: false, // required
                    mimeType: "multipart/form-data",
                    data: formData,
                    success: function (result) {
                        sentence_tb = '<p class="fs-4">' + sentence + "</p>";
                        audio_tb = "<audio controls src=" + result + "></audio>";
                        $("#demo_tb>tbody").prepend("<tr><td>" + sentence_tb + "</td><td>" + audio_tb + "</td></tr>");
                    },
                };

                $.ajax(item);
            }
        </script>
    </body>
</html>
